<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>adminpage</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stsylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                        	<a class="navbar-brand" th:href="@{/index}">
                                <img src="/assets/images/logo/header/nplitlogo.svg" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="active dd-menu collapsed" th:href="@{/index}"
                                            aria-label="Toggle navigation">Home</a>

                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/registerlist}" aria-label="Toggle navigation">카테고리</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <!-- <li class="mega-menu-title">Dashboard</li> -->
                                            <li class="nav-item"><a th:href="@{/registerlist?category=패션/잡화}">패션/잡화</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=가전/디지털}">가전/디지털</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=라이프}">라이프</a>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=배달음식}">배달음식</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=홈쉐어링}">홈쉐어링</a></li></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=식품}">식품</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=구독서비스}">구독서비스</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=기타}">기타</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed" th:href="@{/near_me}" aria-label="Toggle navigation">내 근처</a>
                                    </li>
                                        <!--예진 로그인 안했을경우 마이페이지 못들어가게-->
			                        <li class="nav-item" th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}"
			                           onclick="alert('로그인이 필요한 서비스 입니다.')">
			                           <a class="dd-menu collapsed" th:href="@{/login}" aria-label="Toggle navigation">마이
			                              페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/login}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/login}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 찜한 쉐어링</a></li>
			                           </ul>
			                        </li>
			
			                        <li class="nav-item" th:if="${not #strings.isEmpty(session.login)}">
			                           <!--예진 로그인 했을경우-->
			                           <a class="dd-menu collapsed" th:href="@{/profile_show}"
			                              aria-label="Toggle navigation">마이 페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/profile_show}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/profile_update}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_registered}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_participate}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_like}">내가 찜한 쉐어링</a></li>
			                           </ul>
			                        </li>
                                    <!--예진 로그인 안했을 경우 내채팅 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" aria-label="Toggle navigation">내 채팅</a>
                                           <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/chatting}" aria-label="Toggle navigation">내 채팅</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            
                           <div class="login-button">
		                        <ul>
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}">
		                              	<a th:href="@{/profile_show}" class="see-all"><span th:text="${session.login.name}"> </span>님 환영합니다.</a>
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}">
		                              	<i class="lni lni-enter"> </i>로그인
		                              </a>
		                           </li>
		
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/logout}">
		                              	<i class="lni lni-enter"> </i> 로그아웃 
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/join}">
		                              	<i class="lni lni-user"> </i> 가입하기
		                              </a>
		                            </li>
		                        </ul>
		                     </div>
                            
                            <div class="button header-button">
                            <!--로그인 안되어있을경우 쉐어링 등록 불가-->
                                <a   th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" class="btn">쉐어링 등록하기</a>
                                 <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/register_view}" class="btn">쉐어링 등록하기</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->

    <section class="admin-requirelist section">
        <div class="list-all-admin">
            <div class="list-all-admin-box">
                <div class="list-title-admin">
                    <h6 name="title" th:text="${question.title}"> </h6>
                    
                    <div class="list-title-sub-admin">
                        <p name="category" th:text="${question.category}" style="margin-right:1.5rem;">카테고리</p><span style="margin-right:1.5rem;">&#124;</span>
                        <p name="writer" th:text="${question.writer}" style="margin-right:1.5rem;">작성자</p><span style="margin-right:1.5rem;">&#124;</span>
                        <p>2021-12-07</p>
                    </div>
                </div>
                <div class="list-contact-admin">
                    <div class="list-contact-box-admin">
                        <p name="content" th:text="${question.content}"style="color:#000">1:1문의 게시판 본문 입니다 내용내용내용</p>
                    </div>
                </div>
                <div class="list-comment-admin">
                    <div>
                        <h5  style="border:none;">답변</h5>
                        <ul>
                            <li th:text="${question.answer}"><i class="fas fa-caret-right" style="margin-right:1rem;"></i>답변답변 답변 입니다아아아아아아ㅏ아아</li >
                        </ul>
                        <form action="/QueUpdate" type="post">
                        	<input type="hidden" id="seq" name="seq" th:value="${question.seq }">
                            <input type="text" name="answer" placeholder="문의 답변을 입력해주세요.">
                            <div class="comment-btn">
                                <button type="submit">확인</button>
                            </div>
                        </form  >
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Start Footer Area -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Single Widget -->
                    <div class="single-footer mobile-app">
                        <a><img src="/assets/images/footer/footer_nplitlogo.svg" alt="Logo" ;
                                style="width:300px; height:300px"></a>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-md-4" style="display:inline;">
                    <div class="single-footer f-contact">
                        <h3>Contact</h3>
                        <ul>
                            <li>서울 강남구 강남대로94길 20, <br> 삼오빌딩(5층 ~ 9층)</li>
                            <li>문의 : 02-3486-9600 | 팩스 : 02.6007.1298 <br> 사업자등록번호 : 214-85-24928</li>
                            <li>(주)엔플릿 강남본원 대표이사 : 허원준</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Single Widget -->
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="inner">
                                <!-- <div class="row"> -->
                                <!-- <div class="col-6"> -->
                                <div class="content">
                                    <div class="content-top">
                                        <p>통신판매업 신고번호 : 제 서초-00098호 <br> 개인정보보호관리책임자 : 박진형</p>
                                    </div>
                                    <p>이용약관 | 개인정보취급방침 | 위치기반서비스 이용약관</p>
                                    <ul class="footer-social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <i class="fas fa-link"></i> -->

                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>

                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>
    <script src="/assets/js/glightbox.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="https://kit.fontawesome.com/4a6a853753.js" crossorigin="anonymous"></script>
</body>

</html>