<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <title>Join - NPLIT</title>
   <meta name="description" content="" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo/favicon.png" />
   <!-- Place favicon.ico in the root directory -->

   <!-- Web Font -->
   <link
      href="https://fonts. apis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
   <link href="https://fonts. apis.com/css2?family=Lato&display=swap" rel="stylesheet">

   <!-- ========================= CSS here ========================= -->
   <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
   <link rel="stylesheet" href="/assets/css/animate.css" />
   <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
   <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
   <link rel="stylesheet" href="/assets/css/main.css" />

   <script src="/assets/js/bootstrap.min.js"></script>
   <script src="/assets/js/wow.min.js"></script>
   <script src="/assets/js/tiny-slider.js"></script>
   <script src="/assets/js/glightbox.min.js"></script>
   <script src="/assets/js/main.js"></script>

   <script src="/assets/js/jquery-3.6.0.min.js"></script>


   <!-- style 추가-->
   <style>
      .form-group .btn {
         background-color: #926a9d;
         color: white;
         width: 25%;
         min-height: 56px;
         padding: 0px;
         float: right;
         font-size: 100%;
      }
   </style>
</head>

<body>
   <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

   <!-- Preloader -->
   <div class="preloader">
      <div class="preloader-inner">
         <div class="preloader-icon">
            <span></span>
            <span></span>
         </div>
      </div>
   </div>
   <!-- /End Preloader -->

  <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                        	<a class="navbar-brand" th:href="@{/index}">
                                <img src="/assets/images/logo/header/nplitlogo.svg" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="active dd-menu collapsed" th:href="@{/index}"
                                            aria-label="Toggle navigation">Home</a>

                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/registerlist}" aria-label="Toggle navigation">카테고리</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <!-- <li class="mega-menu-title">Dashboard</li> -->
                                            <li class="nav-item"><a th:href="@{/registerlist?category=패션/잡화}">패션/잡화</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=가전/디지털}">가전/디지털</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=라이프}">라이프</a>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=배달음식}">배달음식</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=홈쉐어링}">홈쉐어링</a></li></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=식품}">식품</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=구독서비스}">구독서비스</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=기타}">기타</a></li>
                                        </ul>
                                    </li>
                                    
                                    <!--예진 로그인 안했을 경우 내 근처 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" aria-label="Toggle navigation">내 근처</a>
                                        <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/near_me}" aria-label="Toggle navigation">내 근처</a>
                                    </li>
                                    
                                    <!--예진 로그인 안했을경우 마이페이지 못들어가게-->
			                        <li class="nav-item" th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}"
			                           onclick="alert('로그인이 필요한 서비스 입니다.')">
			                           <a class="dd-menu collapsed" th:href="@{/login}" aria-label="Toggle navigation">마이
			                              페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/login}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/login}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 찜한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/myquestion_list}">1:1 문의 내역</a></li>
			                           </ul>
			                        </li>
			
			                        <li class="nav-item" th:if="${not #strings.isEmpty(session.login)}">
			                           <!--예진 로그인 했을경우-->
			                           <a class="dd-menu collapsed" th:href="@{/profile_show}"
			                              aria-label="Toggle navigation">마이 페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/profile_show}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/profile_update}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_registered}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_participate}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_like}">내가 찜한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/selectMyQuestion}">1:1 문의 내역</a></li>
			                           </ul>
			                        </li>
                                    <!--예진 로그인 안했을 경우 내채팅 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                        <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                    </li>
                                    
                                    <li style="position: relative; top: 2.2rem;">
                           <span class="notranslate">
                              <div id="google_translate_element" style="display:none;"></div>
                              <!-- "새 번역 링크 UI" -->
                             
							<ul class="translation-links" style="list-style:none;">
                                 <li style="float:left; margin-right:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                                 <li style="float:left"><a href="javascript:void(0)" class="english"
                                       data-lang="en">En</a></li>
                                 <li style="float:left">&nbsp &#124; &nbsp</li>
                                 <li style="float:left"><a href="javascript:void(0)" class="korean"
                                       data-lang="ko">Ko</a></li>
                                 <li style="float:left; margin-left:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                              </ul>

                              <script
                                 src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                              <script type="text/javascript">
                                 /* 구글 번역 초기화 */
                                 function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'ko', autoDisplay: true}, 'google_translate_element');}
                              </script>
                              <script type="text/javascript">
                                 /* 새 UI 선택 클릭 이벤트가 발생하면
                                    감춤 처리한 구글 번역 콤보리스트에
                                    선택한 언어를 적용해 변경 이벤트를 발생시키는 코드  */
                                 document.querySelector('.translation-links').addEventListener('click', function (event) {
                                    let el = event.target;
                                    if (el != null) {
                                       while (el.nodeName == 'FONT') {el = el.parentElement;}//data-lang 속성이 있는 태그 찾기
                                       const tolang = el.dataset.lang; // 변경할 언어 코드 얻기
                                       const gtcombo = document.querySelector('.goog-te-combo');
                                       if (gtcombo == null) {
                                          alert("Error: Could not find Google translate Combolist.");
                                          return false;
                                       }
                                       gtcombo.value = tolang; // 변경할 언어 적용
                                       gtcombo.dispatchEvent(new Event('change')); // 변경 이벤트 트리거
                                    }
                                    return false;
                                 });
                              </script>
                           </span>
                        </li>
                                    
                                </ul>
                            </div> <!-- navbar collapse -->
                            
                           <div class="login-button">
		                        <ul>
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}">
		                              	<a th:href="@{/profile_show}" class="see-all"><span th:text="${session.login.name}"> </span>님 환영합니다.</a>
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}">
		                              	<i class="lni lni-enter"> </i>로그인
		                              </a>
		                           </li>
		
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/logout}">
		                              	<i class="lni lni-enter"> </i> 로그아웃 
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/join}">
		                              	<i class="lni lni-user"> </i> 가입하기
		                              </a>
		                            </li>
		                        </ul>
		                     </div>

                            <div class="button header-button">
                            <!--로그인 안되어있을경우 쉐어링 등록 불가-->
                                <a   th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" class="btn">쉐어링 등록하기</a>
                                 <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/register_view}" class="btn">쉐어링 등록하기</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->
   <!-- Start Breadcrumbs -->
   <div class="breadcrumbs">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
               <div class="breadcrumbs-content">
                  <h1 class="page-title">회원가입</h1>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
               <ul class="breadcrumb-nav">
                  <li><a th:href="@{/index}">Home</a></li>
                  <li>회원가입</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- End Breadcrumbs -->

   <!--수정 (예진) 회원 가입 부분 수정 -->
   <!-- start Registration section -->
   <section class="login registration section">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
               <div class="form-head">
                  <h4 class="title">회원가입</h4>
                  <form action="/joinProcess" method="post" id=joinform>

                     <div class="form-group">
                        <label>이름</label>
                        <input name="name" id="name"type="text" autofocus="autofocus" required>
                        <div class="name regex"></div>
                     </div>
                     <!-- 수정 : 아이디 / 중복확인 버튼 추가 / 입력창 사이즈 조정-->
                     <div class="form-group">
                        <label>아이디</label>
                        <input name="memberId" id="memberId" type="text" style="width: 70%;" DupChecked="n"
                           required>

                        <input type="hidden" class="checkid" id="checkid" name="checkid" value=0>

                        <button class="btn" type="button" id="idChk" onclick="fn_idChk();"
                           required>중복확인</button>
                        <!--  <input class = "btn" type="button" id="idChk" onclick="fn_idChk();" >중복확인</i>-->
                        <div class="id regex"></div>
                        <input type="hidden" name="idDupChk" value="n">
                     </div>
                    <div class="form-group">
                    <div class="eyes">
                       <label for="password-box">비밀번호</label>
                       <input name="password" type="password" id="password" autocomplete="off" required>
                       <i class="fas fa-eye eyesicon"> </i>
                       <div class="pw regex"></div>
                    </div>
                 </div>
                
                <div class="form-group">
                    <div class="eyes">
                       <label for="password-box">비밀번호  확인</label>
                       <input name="oldPassword" type="password" id="chkpassword" autocomplete="off" required>
                       <i class="fas fa-eye eyesicon"> </i>
                       <div class="repw regex"></div>
                    </div>
                 </div>
                     <!--수정 : 닉네임 / 중복확인 버튼 추가 / 입력창 사이즈 조정 -->
                     <div class="form-group">
                        <label>닉네임</label>
                        <input name="nickname" id="nickname" type="text" style="width: 70%;" DupChecked="n"
                           required>
                        <!--<input type="hidden" name="nickDupChk" value="n">-->

                        <input type="hidden" name="checknick" class="checknick" id="checknick" value=0>

                        <button class="btn" type="button" id="nicknameChk"
                           onclick="fn_nicknameChk();">중복확인</button>
                        <div class="nick regex"></div>
                     </div>

                     <div class="form-group">
                        <label>이메일</label>
                        <input name="email" type="email" id="email" autocomplete="off" required>
                        <div class="email regex"></div>
                     </div>
                     <!--휴대폰 번호 / 번호인증 버튼 추가 / 입력창 사이즈 조정-->
                     <div class="form-group">
                        <label>휴대폰 번호</label>
                        <input name="phone" type="text" id="phone" oninput="autoHyphen(this)" required>
                        <div class="phone regex"></div>
                     </div>
                     <!-- 주소 / 우편주소 찾기 버튼 수정 /입력창 사이즈 조정-->
                     <div class="form-group">
                        <label>주소</label>
                        <input name="address" type="text" style="width: 70%;" id="sample3_address" required>
                        <button class="btn" type="button" onclick="execPostCode()">주소검색</button>
                     </div>

                     <div class="check-and-pass">
                        <div class="row align-items-center">
                           <div class="col-12">
                              <div class="form-check">
                                 <input type="checkbox" class="form-check-input width-auto"
                                    id="exampleCheck1" required>
                                 <label class="form-check-label">엔플릿 <a href="javascript:void(0)">개인정보 처리 방침
                                    </a> 에 동의합니다.</label></input>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="button">
                        <button class="btn" type="submit "style="background-color: #926a9d;" id="joinbtn">회원가입</button>
                        <!--type="submit"-->
                     </div>
                     <div class="alt-option">
                        <span>Or</span>
                     </div>
                     <!--                            <div class="socila-login">
                                <ul> 
                                    <li style="color: black; padding-top: 50px;"> <a href="javascript:kakaoLogin();"  style="padding:10px; background-color: rgb(254,229,0);"><img src="../nplit/assets/images/logo/kakao_icon.png" style="width: 15px; height: 15px;"></i>
                                    <p style="color: black; display: inline; padding-top: 50px; padding-bottom: 50px;"> 카카오톡 계정으로 가입하기</p></a>
                                </li>
                                <li><a href="javascript:void(0)" class="facebook" style="background-color: rgb(59,89,153); color: white; padding: 11px;"><i class="lni lni-facebook-original"></i>페이스북 계정으로 가입하기</a></li>
                                </ul>
                            </div>
-->
                     <p class="outer-link">이미 아이디가 있나요? <a href="/login"> 로그인 하기</a>
                     </p>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Registration section -->

   <!-- Start Footer Area -->
   <footer class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <!-- Single Widget -->
               <div class="single-footer mobile-app">
                  <a><img src="assets/images/footer/footer_nplitlogo.svg" alt="Logo" ;
                        style="width:300px; height:300px"></a>
               </div>
               <!-- End Single Widget -->
            </div>
            <div class="col-md-4" style="display:inline;">
               <div class="single-footer f-contact">
                  <h3>Contact</h3>
                  <ul>
                     <li>서울 강남구 강남대로94길 20, <br> 삼오빌딩(5층 ~ 9층)</li>
                     <li>문의 : 02-3486-9600 | 팩스 : 02.6007.1298 <br> 사업자등록번호 : 214-85-24928</li>
                     <li>(주)비트컴퓨터 강남본원 대표이사 : 허원준</li>
                  </ul>
               </div>
            </div>

            <div class="col-md-4">
               <!-- Single Widget -->
               <div class="footer-bottom">
                  <div class="container">
                     <div class="inner">
                        <!-- <div class="row"> -->
                        <!-- <div class="col-6"> -->
                        <div class="content">
                           <div class="content-top">
                              <p>통신판매업 신고번호 : 제 서초-00098호 <br> 개인정보보호관리책임자 : 박진형</p>
                           </div>
                           <p>이용약관 | 개인정보취급방침 | 위치기반서비스 이용약관</p>
                           <ul class="footer-social">
                              <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                              </li>
                              <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                              </li>
                              <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a>
                              </li>
                              <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                              </li>
                           </ul>
                           <!-- <i class="fas fa-link"></i> -->

                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                     </div>
                  </div>

                  <!-- End Single Widget -->
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!--/ End Footer Area -->

   <!-- ========================= scroll-top ========================= -->
   <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
   </a>

   <!-- ========================= JS here ========================= -->
   <script src="assets/js/bootstrap.min.js"></script>
   <script src="assets/js/wow.min.js"></script>
   <script src="assets/js/tiny-slider.js"></script>
   <script src="assets/js/glightbox.min.js"></script>
   <script src="assets/js/main.js"></script>



   <script>


         // 중복확인 & id 유효성검사             
      $(function () {
         //이름 확인    
         $("#name").on("keyup", function () {  
            if ($("#name").val() == "") {
               $(".name.regex").html("이름을 입력해주세요.");
               $(".name.regex").css("color", "red");
               return false;
            } else {
               $(".name.regex").html("");
            }

         })

        
         
         $("#memberId").on("input", function () {

            var regex = /^[a-z][a-z\d]{4,11}$/;
            var id = $("#memberId").val();
            var result = regex.exec(id);
            $("#checkid").val(0);

            if (id == "") {

               $(".id.regex").html("아이디를 입력해주세요" );
               $(".id.regex").css("color", "red")
               return false;
            }
            if (result != null) {
               $(".id.regex").html("");
               $(".id.regex").css("color", "red");
               /*   $("#memberId").attr("DupChecked") = "y";*/
               return;
               //  alert("사용 가능한 ID입니다.");
            } else {
               $(".id.regex").html("영어 소문자,숫자 4-12자리");
               $(".id.regex").css("color", "red")
               //  alert("사용이 불가능한 ID입니다.")
               return false;
            }

         })

         //비밀번호 유효성검사
         $("#password").on("input", function () {
            var regex = /^[A-Za-z\d]{8,12}$/;
            var result = regex.exec($("#password").val())

            if (result != null) {
               $(".pw.regex").html("");
            } else {
               $(".pw.regex").html("영어대소문자,숫자 8-11자리");
               $(".pw.regex").css("color", "red")
            }
         });

         //비밀번호 확인    
         $("#chkpassword").on("keyup", function () {
            if ($("#password").val() == $("#chkpassword").val()) {
               $(".repw.regex").html("비밀번호가 일치합니다")
               $(".repw.regex").css("color", "blue");
            } else {
               $(".repw.regex").html("비밀번호가 일치하지않습니다")
               $(".repw.regex").css("color", "red");
            }
         })

         //닉네임 확인    
         $("#nickname").on("keyup", function () {

            $("#checknick").val(0);
            if ($("#nickname").val() == "") {
               $(".nick.regex").html("닉네임을 입력해주세요.")
               $(".nick.regex").css("color", "red");
            } else {
               $(".nick.regex").html("");
            }

         })


         //email유효성 검사
         $("#email").on("keyup", function () {
            var regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
            var result = regex.exec($("#email").val());

            if (result != null) {
               $(".email.regex").html("");
            } else {
               $(".email.regex").html("올바른 이메일이 아닙니다");
               $(".email.regex").css("color", "red");
            }
         })


         //전화번호 유효성검사
         $("#phone").on("keyup", function () {
            var regex = /^(\d{2,3})[-](\d{3,4})[-](\d{4})$/;
            var result = regex.exec($("#phone").val());

            if (result != null) {
               $(".phone.regex").html("");
            } else {
               $(".phone.regex").html("올바른 번호가 아닙니다");
               $(".phone.regex").css("color", "red")
            }

         })


         $("#joinbtn").on("click", function () {
            var id = $("#memberId").val();
            var pw = $("#password").val();
            var name = $("#name").val();
            var nickname = $("#nickname").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
             var address = $("#sample3_address").val();

            var idregex = /^[a-z][a-z\d]{4,11}$/;
            var pwregex = /^[A-Za-z\d]{8,12}$/;
            var nameregex = /^[가-힣A-Za-z\d]{2,}/;
            var phoneregex = /^(\d{2,3})[-](\d{3,4})[-](\d{4})$/;
            var emailregex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;


            var idregex = idregex.exec(id);
            var pwregex = pwregex.exec(pw);
            var nameregex = nameregex.exec(name);
            var phoneregex = phoneregex.exec(phone);
            var emailregex = emailregex.exec(email);

            if (nameregex == null) {
               alert("이름양식을 다시 확인해주세요");
               return false;
            }
            if (idregex == null) {
               alert("아이디양식을 다시 확인해주세요");
               return false;
            }
            if ($("#checkid").val() != 1) {
               alert("아이디 중복확인을 완료해주세요");
               return false;
            }
            if (pwregex == null) {
               alert("비밀번호양식을 다시 확인해주세요");
               return false;
            }
            if($("#password").val() != $("#chkpassword").val()){
               alert("비밀번호가 일치하지 않습니다.");
               return false;
            }
            if (phoneregex == null) {
               alert("핸드폰번호양식을 다시 확인해주세요");
               return false;
            }
            if (emailregex == null) {
               alert("이메일양식을 다시 확인해주세요");
               return false;
            }
            if ($("#checknick").val() != 1) {
               alert("닉네임 중복확인을 완료해주세요");
               return false;
            }
             if ( address == "") {
               alert("주소를 입력해주세요.");
               return false;
            }
             if ($("#email").val() == "") {
               alert("이메일을 입력해주세요.");
               return false;
            }

            $("#joinform").submit();

         })
      })


      //아이디 중복 체크 
      function fn_idChk() {

         $.ajax({
            url: "/idChk",
            type: "get",
            dataType: "json",
            data: {"memberId": $("#memberId").val()},
            success: function (data) {

               if ($("#memberId").val() == "") {
                  alert("아이디는 공백이 될 수 없습니다.");
                  return false;
               } else {

                  if (data == 1) {
                     alert("중복된 아이디입니다.");
                     return false;

                  } else if (data == 0) {
                     $("#checkid").val(1);
                     alert("사용가능한 아이디입니다.")
                     /*   $("#idDupChk").val()='y';*/
                  }
               }
            }
         })
      }

      //닉네임 중복 체크
      function fn_nicknameChk() {
         $.ajax({
            url: "/nicknameChk",
            type: "get",
            dataType: "json",
            data: {"nickname": $("#nickname").val()},
            success: function (data) {

               if ($("#nickname").val() == "") {
                  alert("닉네임은 공백이 될 수 없습니다.")
                  return false;
               } else {
                  if (data == 1) {
                     alert("중복된 닉네임 입니다.");
                     return false;
                  } else if (data == 0) {
                     $("#checknick").val(1);
                     alert("사용가능한 닉네임 입니다.");
                  }
               }
            }
         })
      }

   </script>


   <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

   <script>
      function execPostCode() {
         new daum.Postcode({
            oncomplete: function (data) {
               // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
               // 예제를 참고하여 다양한 활용법을 확인해 보세요.

               // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
               // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
               var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
               var extraRoadAddr = ''; // 도로명 조합형 주소 변수

               // 법정동명이 있을 경우 추가한다. (법정리는 제외)
               // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
               if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                  extraRoadAddr += data.bname;
               }
               // 건물명이 있고, 공동주택일 경우 추가한다.
               if (data.buildingName !== '' && data.apartment === 'Y') {
                  extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
               }
               // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
               if (extraRoadAddr !== '') {
                  extraRoadAddr = ' (' + extraRoadAddr + ')';
               }
               // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
               if (fullRoadAddr !== '') {
                  fullRoadAddr += extraRoadAddr;
               }

               // 우편번호와 주소 정보를 해당 필드에 넣는다.
               console.log(data.zonecode);
               console.log(fullRoadAddr);


               $("[name=zipCode]").val(data.zonecode);
               $("[name=address]").val(fullRoadAddr); 


               // 우편번호와 주소 정보를 해당 필드에 넣는다.
               document.getElementById('sample3_postcode').value = data.zonecode; //5자리 새우편번호 사용
               document.getElementById('sample3_address').value = fullAddr;
            }
         }).open();
      }
   </script>
   
   <!-- 철우 비밀번호 눈 표시 -->
   <script>
      $(document).ready(function () {
         $('.eyes i').on('click', function () {
            $('input').toggleClass('active');
            if ($('input').hasClass('active')) {
               $(this).attr('class', "fas fa-eye")
                  .prev('input').attr('type', "text");
            } else {
               $(this).attr('class', "fas fa-eye-slash")
                  .prev('input').attr('type', 'password');
            }
         });
      });
   </script >


	<script>
   const autoHyphen = (target) => {
    target.value = target.value
      .replace(/[^0-9]/, '')
      .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
   }
   </script>
<script src="https://kit.fontawesome.com/4a6a853753.js" crossorigin="anonymous"></script>

</body>

</html>