<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Notice - NPLIT</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

  <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                        	<a class="navbar-brand" th:href="@{/index}">
                                <img src="/assets/images/logo/header/nplitlogo.svg" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="active dd-menu collapsed" th:href="@{/index}"
                                            aria-label="Toggle navigation">Home</a>

                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/registerlist}" aria-label="Toggle navigation">카테고리</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <!-- <li class="mega-menu-title">Dashboard</li> -->
                                            <li class="nav-item"><a th:href="@{/registerlist?category=패션/잡화}">패션/잡화</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=가전/디지털}">가전/디지털</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=라이프}">라이프</a>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=배달음식}">배달음식</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=홈쉐어링}">홈쉐어링</a></li></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=식품}">식품</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=구독서비스}">구독서비스</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=기타}">기타</a></li>
                                        </ul>
                                    </li>
                                    
                                    <!--예진 로그인 안했을 경우 내 근처 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" aria-label="Toggle navigation">내 근처</a>
                                        <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/near_me}" aria-label="Toggle navigation">내 근처</a>
                                    </li>
                                    
                                    <!--예진 로그인 안했을경우 마이페이지 못들어가게-->
			                        <li class="nav-item" th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}"
			                           onclick="alert('로그인이 필요한 서비스 입니다.')">
			                           <a class="dd-menu collapsed" th:href="@{/login}" aria-label="Toggle navigation">마이
			                              페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/login}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/login}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 찜한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/myquestion_list}">1:1 문의 내역</a></li>
			                           </ul>
			                        </li>
			
			                        <li class="nav-item" th:if="${not #strings.isEmpty(session.login)}">
			                           <!--예진 로그인 했을경우-->
			                           <a class="dd-menu collapsed" th:href="@{/profile_show}"
			                              aria-label="Toggle navigation">마이 페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/profile_show}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/profile_update}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_registered}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_participate}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_like}">내가 찜한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/selectMyQuestion}">1:1 문의 내역</a></li>
			                           </ul>
			                        </li>
                                    <!--예진 로그인 안했을 경우 내채팅 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                        <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                    </li>
                                    
                                    <li style="position: relative; top: 2.2rem;">
                           <span class="notranslate">
                              <div id="google_translate_element" style="display:none;"></div>
                              <!-- "새 번역 링크 UI" -->
                             
							<ul class="translation-links" style="list-style:none;">
                                 <li style="float:left; margin-right:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                                 <li style="float:left"><a href="javascript:void(0)" class="english"
                                       data-lang="en">En</a></li>
                                 <li style="float:left">&nbsp &#124; &nbsp</li>
                                 <li style="float:left"><a href="javascript:void(0)" class="korean"
                                       data-lang="ko">Ko</a></li>
                                 <li style="float:left; margin-left:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                              </ul>

                              <script
                                 src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                              <script type="text/javascript">
                                 /* 구글 번역 초기화 */
                                 function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'ko', autoDisplay: true}, 'google_translate_element');}
                              </script>
                              <script type="text/javascript">
                                 /* 새 UI 선택 클릭 이벤트가 발생하면
                                    감춤 처리한 구글 번역 콤보리스트에
                                    선택한 언어를 적용해 변경 이벤트를 발생시키는 코드  */
                                 document.querySelector('.translation-links').addEventListener('click', function (event) {
                                    let el = event.target;
                                    if (el != null) {
                                       while (el.nodeName == 'FONT') {el = el.parentElement;}//data-lang 속성이 있는 태그 찾기
                                       const tolang = el.dataset.lang; // 변경할 언어 코드 얻기
                                       const gtcombo = document.querySelector('.goog-te-combo');
                                       if (gtcombo == null) {
                                          alert("Error: Could not find Google translate Combolist.");
                                          return false;
                                       }
                                       gtcombo.value = tolang; // 변경할 언어 적용
                                       gtcombo.dispatchEvent(new Event('change')); // 변경 이벤트 트리거
                                    }
                                    return false;
                                 });
                              </script>
                           </span>
                        </li>
                                    
                                </ul>
                            </div> <!-- navbar collapse -->
                            
                           <div class="login-button">
		                        <ul>
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}">
		                              	<a th:href="@{/profile_show}" class="see-all"><span th:text="${session.login.name}"> </span>님 환영합니다.</a>
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}">
		                              	<i class="lni lni-enter"> </i>로그인
		                              </a>
		                           </li>
		
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/logout}">
		                              	<i class="lni lni-enter"> </i> 로그아웃 
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/join}">
		                              	<i class="lni lni-user"> </i> 가입하기
		                              </a>
		                            </li>
		                        </ul>
		                     </div>

                            <div class="button header-button">
                            <!--로그인 안되어있을경우 쉐어링 등록 불가-->
                                <a   th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" class="btn">쉐어링 등록하기</a>
                                 <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/register_view}" class="btn">쉐어링 등록하기</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->
    
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">공지사항</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a th:href="@{/index}">Home</a></li>
                        <li>공지사항</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Blog Singel Area -->
    <section class="section blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="single-inner">
                        <div class="post-thumbnils">
                            <img src="/assets/images/logo/header/nplitlogo.svg" alt="#">
                        </div>
                        <div class="post-details">
                            <div class="detail-inner">
                                <h2 class="post-title">
                                    <a href="blog-single.html">10 가지 중요한 공지사항</a>
                                </h2>
                                <!-- post meta -->
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-calendar"></i>
                                            20th March 2023
                                        </a>
                                    </li>
                                   
                                </ul>
                                <p>
                                    <br>
                                    친구 및 쪽지 서비스가 2021년 10월 7일 종료됨을 안내해 드립니다.
                                    <br>
                                    해당 서비스는 각 영역에서 점진적으로 종료해나갈 예정입니다.
                                    
                                    <br><br>
                                    
                                    친구: 맞팔 목록, 팔로워 목록, 팔로잉 목록, 친구요청(팔로잉) 서비스
                                    쪽지: 받은 쪽지, 보낸 쪽지, 쪽지보관함 목록, 쪽지 발송 서비스
                                    <br>
                                    
                                    마이페이지 내 메뉴 제거일: 2021년 9월 29일
                                    <br>
                                    서비스 종료일 : 2021년 10월 7일
                                    <br>
                                   알림 사항은 피드 등 다른 채널로 받아 보실 수 있습니다.
                                    <br></p>
                                <!-- post image -->
                                <div class="post-image">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <h3>중요한 공지</h3>
                                            <p>
                                                <br>
                                    친구 및 쪽지 서비스가 2021년 10월 7일 종료됨을 안내해 드립니다.
                                    <br>
                                    해당 서비스는 각 영역에서 점진적으로 종료해나갈 예정입니다.
                                    
                                    <br><br><br>
                                    
                                    마이페이지 내 메뉴 제거일: 2021년 9월 29일
                                    <br>
                                    서비스 종료일 : 2021년 10월 7일
                                    
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <a href="javascript:void(0)">
                                                <img src="/assets/images/logo/nplitlogo.svg" alt="#">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p><br>
                                    친구 및 쪽지 서비스가 2021년 10월 7일 종료됨을 안내해 드립니다.
                                    <br>
                                    해당 서비스는 각 영역에서 점진적으로 종료해나갈 예정입니다.
                                    
                                   <br>
                                    서비스 종료일 : 2021년 10월 7일
                                    
                                    <br><br></p>
                                <!-- post quote -->
                                <!-- <blockquote>
                                    <div class="icon">
                                        <i class="lni lni-quotation"></i>
                                    </div>
                                    <h4>"Don't demand that things happen as you wish, but wish that they happen as they
                                        do
                                        happen, and you will go on well."</h4>
                                    <span>Epictetus, The Enchiridion</span>
                                </blockquote> -->
                                <!-- <h3>Setting the mood with incense</h3>
                                <p>Remove aversion, then, from all things that are not in our control, and transfer it
                                    to
                                    things contrary to the nature of what is in our control. But, for the present,
                                    totally
                                    suppress desire: for, if you desire any of the things which are not in your own
                                    control,
                                    you must necessarily be disappointed; and of those which are, and which it would be
                                    laudable to desire, nothing is yet in your possession. Use only the appropriate
                                    actions
                                    of pursuit and avoidance; and even these lightly, and with gentleness and
                                    reservation.
                                </p> -->
                                <!-- <ul class="list">
                                    <li><i class="lni lni-chevron-right"></i> The happiness of your life depends upon
                                        the
                                        quality of your thoughts </li>
                                    <li><i class="lni lni-chevron-right"></i> You have power over your mind, not outside
                                        events</li>
                                    <li><i class="lni lni-chevron-right"></i>The things you think about determine the
                                        quality of your mind</li>
                                </ul> -->

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure
                                    dolor in reprehenderit. </p> -->
                                <!--post tags -->
                                <!-- Post Social Share -->
                                <div class="post-social-media">
                                    <h5 class="share-title">Social Share</h5>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-facebook-filled"></i>
                                                <span>facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-twitter-original"></i>
                                                <span>twitter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-google"></i>
                                                <span>google+</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-linkedin-original"></i>
                                                <span>linkedin</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-pinterest"></i>
                                                <span>pinterest</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Post Social Share -->
                            </div>
                            
                            <!-- Comments
                            <div class="post-comments">
                                <h3 class="comment-title"><span>3 comments on this post</span></h3>
                                <ul class="comments-list">
                                    <li>
                                        <div class="comment-img">
                                            <img src="https://via.placeholder.com/150x150" class="rounded-circle" alt="img">
                                        </div>
                                        <div class="comment-desc">
                                            <div class="desc-top">
                                                <h6>Arista Williamson</h6>
                                                <span class="date">19th May 2023</span>
                                                <a href="javascript:void(0)" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                            </div>
                                            <p>
                                                Donec aliquam ex ut odio dictum, ut consequat leo interdum. Aenean nunc
                                                ipsum, blandit eu enim sed, facilisis convallis orci. Etiam commodo
                                                lectus
                                                quis vulputate tincidunt. Mauris tristique velit eu magna maximus
                                                condimentum.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="children">
                                        <div class="comment-img">
                                            <img src="https://via.placeholder.com/150x150" class="rounded-circle" alt="img">
                                        </div>
                                        <div class="comment-desc">
                                            <div class="desc-top">
                                                <h6>Rosalina Kelian <span class="saved"><i
                                                            class="lni lni-bookmark"></i></span></h6>
                                                <span class="date">15th May 2023</span>
                                                <a href="javascript:void(0)" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment-img">
                                            <img src="https://via.placeholder.com/150x150" class="rounded-circle" alt="img">
                                        </div>
                                        <div class="comment-desc">
                                            <div class="desc-top">
                                                <h6>Alex Jemmi</h6>
                                                <span class="date">12th May 2023</span>
                                                <a href="javascript:void(0)" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- <div class="comment-form">
                                <h3 class="comment-reply-title"><span>Leave a comment</span></h3>
                                <form action="#" method="POST">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <div class="form-box form-group">
                                                <input type="text" name="name" class="form-control form-control-custom"
                                                    placeholder="Your Name" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-box form-group">
                                                <input type="email" name="email"
                                                    class="form-control form-control-custom" placeholder="Your Email" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-box form-group">
                                                <textarea name="#" class="form-control form-control-custom"
                                                    placeholder="Your Comments"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="button">
                                                <button type="submit" class="btn">Post Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar blog-grid-page">
                        <!-- Start Single Widget -->
                        <!-- <div class="widget search-widget">
                            <h5 class="widget-title"><span>Search This Site</span></h5>
                            <form action="#">
                                <input type="text" placeholder="Search Here...">
                                <button type="submit"><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div> -->
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="widget popular-feeds">
                            <h5 class="widget-title"><span>공지사항 목록</span></h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="javascript:void(0)">[공지사항] 회원 정보 관련</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="javascript:void(0)">[공지사항] 신고회원 관련 공지
                                               </a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 24th March 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="javascript:void(0)">[공지사항] 이벤트 관련 공지사항</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 30th Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="widget categories-widget">
                            <h5 class="widget-title"><span>카테고리</span></h5>
                            <ul class="custom">
                                <li>
                                    <a href="javascript:void(0)">배달음식<span>26</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">스트리밍 <span>30</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">집 <span>71</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">옷 <span>56</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">라이프<span>15</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">전자기기 <span>12</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">기타 <span>17</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->

                        <!-- 나중에 쓰기 : 인기 검색어, 추천검색어 ,추천 태그로 사용가능 -->
                        <!-- <div class="widget popular-tag-widget">
                            <h5 class="widget-title"><span>Popular Tags</span></h5>
                            <div class="tags">
                                <a href="javascript:void(0)">Jobpress</a>
                                <a href="javascript:void(0)">Design</a>
                                <a href="javascript:void(0)">HR</a>
                                <a href="javascript:void(0)">Recruiter</a>
                                <a href="javascript:void(0)">Interview</a>
                                <a href="javascript:void(0)">Employee</a>
                                <a href="javascript:void(0)">Labor</a>
                                <a href="javascript:void(0)">Salary</a>
                                <a href="javascript:void(0)">Consult</a>
                                <a href="javascript:void(0)">Business</a>
                                <a href="javascript:void(0)">Candidates</a>
                            </div>
                        </div> -->
                        <!-- End Single Widget -->


                        <!-- Start Single Widget -->
                        <!-- <div class="widget sidebar-as">
                            <h5 class="widget-title"><span>Advertisement</span></h5>
                            <a href="javascript:void(0)">
                                <img src="https://via.placeholder.com/780x1300" alt="#">
                            </a>
                        </div> -->
                        <!-- End Single Widget -->
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End Blog Singel Area -->

    <!-- Start Footer Area -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Single Widget -->
                    <div class="single-footer mobile-app">
                        <a><img src="/assets/images/footer/footer_nplitlogo.svg" alt="Logo" ;
                                style="width:300px; height:300px"></a>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-md-4" style="display:inline;">
                    <div class="single-footer f-contact">
                        <h3>Contact</h3>
                        <ul>
                            <li>서울 강남구 강남대로94길 20, <br> 삼오빌딩(5층 ~ 9층)</li>
                            <li>문의 : 02-3486-9600 | 팩스 : 02.6007.1298 <br> 사업자등록번호 : 214-85-24928</li>
                            <li>(주)비트컴퓨터 강남본원 대표이사 : 허원준</li>
                        </ul>
                    </div>
                </div>



                <div class="col-md-4">
                    <!-- Single Widget -->
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="inner">
                                <!-- <div class="row"> -->
                                <!-- <div class="col-6"> -->
                                <div class="content">
                                    <div class="content-top">
                                        <p>통신판매업 신고번호 : 제 서초-00098호 <br> 개인정보보호관리책임자 : 박진형</p>
                                    </div>
                                    <p>이용약관 | 개인정보취급방침 | 위치기반서비스 이용약관</p>
                                    <ul class="footer-social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i
                                                    class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i
                                                    class="lni lni-linkedin-original"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <i class="fas fa-link"></i> -->

                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>

                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
</footer>
<!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/4a6a853753.js" crossorigin="anonymous"></script>
</body>

</html>