<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>채팅방</title >
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo/favicon.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!-- Meta -->
    
     모달
    <style>

   #my_modal {
        display: none;
        width: 300px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .sns{
        float: left;
         
        display: inline-block;
    }
    
        


        
   
    </style>

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                           <a class="navbar-brand" th:href="@{/index}">
                                <img src="/assets/images/logo/header/nplitlogo.svg" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed" th:href="@{/index}"
                                            aria-label="Toggle navigation">Home</a>

                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/registerlist}" aria-label="Toggle navigation">카테고리</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <!-- <li class="mega-menu-title">Dashboard</li> -->
                                            <li class="nav-item"><a th:href="@{/registerlist?category=패션/잡화}">패션/잡화</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=가전/디지털}">가전/디지털</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=라이프}">라이프</a>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=배달음식}">배달음식</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=홈쉐어링}">홈쉐어링</a></li></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=식품}">식품</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=구독서비스}">구독서비스</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=기타}">기타</a></li>
                                        </ul>
                                    </li>
                                    
                                    <!--예진 로그인 안했을 경우 내 근처 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" aria-label="Toggle navigation">내 근처</a>
                                        <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/near_me}" aria-label="Toggle navigation">내 근처</a>
                                    </li>
                                    
                                    <!--예진 로그인 안했을경우 마이페이지 못들어가게-->
                                 <li class="nav-item" th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}"
                                    onclick="alert('로그인이 필요한 서비스 입니다.')">
                                    <a class="dd-menu collapsed" th:href="@{/login}" aria-label="Toggle navigation">마이
                                       페이지</a>
                                    <ul class="sub-menu collapse" id="submenu-1-5">
                                       <li class="nav-item"><a th:href="@{/login}">내 프로필 보기</a>
                                       </li>
                                       <li class="nav-item"><a th:href="@{/login}">개인정보 수정</a></li>
                                       <li class="nav-item"><a th:href="@{/login}">내가 등록한 쉐어링</a></li>
                                       <li class="nav-item"><a th:href="@{/login}">내가 참여중인 쉐어링</a></li>
                                       <li class="nav-item"><a th:href="@{/login}">내가 찜한 쉐어링</a></li>
                                       <li class="nav-item"><a th:href="@{/myquestion_list}">1:1 문의 내역</a></li>
                                    </ul>
                                 </li>
         
                                 <li class="nav-item" th:if="${not #strings.isEmpty(session.login)}">
                                    <!--예진 로그인 했을경우-->
                                    <a class="dd-menu collapsed" th:href="@{/profile_show}"
                                       aria-label="Toggle navigation">마이 페이지</a>
                                    <ul class="sub-menu collapse" id="submenu-1-5">
                                       <li class="nav-item"><a th:href="@{/profile_show}">내 프로필 보기</a>
                                       </li>
                                       <li class="nav-item"><a th:href="@{/profile_update}">개인정보 수정</a></li>
                                       <li class="nav-item"><a th:href="@{/sharing_registered}">내가 등록한 쉐어링</a></li>
                                       <li class="nav-item"><a th:href="@{/sharing_participate}">내가 참여중인 쉐어링</a></li>
                                       <li class="nav-item"><a th:href="@{/sharing_like}">내가 찜한 쉐어링</a></li>
                                       <li class="nav-item"><a th:href="@{/selectMyQuestion}">1:1 문의 내역</a></li>
                                    </ul>
                                 </li>
                                    <!--예진 로그인 안했을 경우 내채팅 못들어가게-->
                                    <li class="nav-item">
                                        <a class="active dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                        <a class="active dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                    </li>
                                    
                                    <li style="position: relative; top: 2.2rem;">
                           <span class="notranslate">
                              <div id="google_translate_element" style="display:none;"></div>
                              <!-- "새 번역 링크 UI" -->
                             
                     <ul class="translation-links" style="list-style:none;">
                                 <li style="float:left; margin-right:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                                 <li style="float:left"><a href="javascript:void(0)" class="english"
                                       data-lang="en">En</a></li>
                                 <li style="float:left">&nbsp &#124; &nbsp</li>
                                 <li style="float:left"><a href="javascript:void(0)" class="korean"
                                       data-lang="ko">Ko</a></li>
                                 <li style="float:left; margin-left:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                              </ul>

                              <script
                                 src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                              <script type="text/javascript">
                                 /* 구글 번역 초기화 */
                                 function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'ko', autoDisplay: true}, 'google_translate_element');}
                              </script>
                              <script type="text/javascript">
                                 /* 새 UI 선택 클릭 이벤트가 발생하면
                                    감춤 처리한 구글 번역 콤보리스트에
                                    선택한 언어를 적용해 변경 이벤트를 발생시키는 코드  */
                                 document.querySelector('.translation-links').addEventListener('click', function (event) {
                                    let el = event.target;
                                    if (el != null) {
                                       while (el.nodeName == 'FONT') {el = el.parentElement;}//data-lang 속성이 있는 태그 찾기
                                       const tolang = el.dataset.lang; // 변경할 언어 코드 얻기
                                       const gtcombo = document.querySelector('.goog-te-combo');
                                       if (gtcombo == null) {
                                          alert("Error: Could not find Google translate Combolist.");
                                          return false;
                                       }
                                       gtcombo.value = tolang; // 변경할 언어 적용
                                       gtcombo.dispatchEvent(new Event('change')); // 변경 이벤트 트리거
                                    }
                                    return false;
                                 });
                              </script>
                           </span>
                        </li>
                                    
                                </ul>
                            </div> <!-- navbar collapse -->
                            
                           <div class="login-button">
                              <ul>
                                 <li>
                                    <a th:if="${not #strings.isEmpty(session.login)}">
                                       <a th:href="@{/profile_show}" class="see-all"><span th:text="${session.login.name}"> </span>님 환영합니다.</a>
                                    </a>
                                    <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}">
                                       <i class="lni lni-enter"> </i>로그인
                                    </a>
                                 </li>
      
                                 <li>
                                    <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/logout}">
                                       <i class="lni lni-enter"> </i> 로그아웃 
                                    </a>
                                    <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/join}">
                                       <i class="lni lni-user"> </i> 가입하기
                                    </a>
                                  </li>
                              </ul>
                           </div>

                            <div class="button header-button">
                            <!--로그인 안되어있을경우 쉐어링 등록 불가-->
                                <a   th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" class="btn">쉐어링 등록하기</a>
                                 <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/register_view}" class="btn">쉐어링 등록하기</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->
    
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">채팅 목록</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a th:href="@{/index}">Home</a></li>
                        <li>채팅</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
             
         <div style="overflow:auto; height:460px;">   
              <!--id="msgArea"-->
                  <ul th:each="selectMsg : ${selectMessage}"  class="single-chat-head" style=" margin-left:30%; margin-right:25%;">
                           
                            <!--로그인한 사람이 받는 메세지-->
                            <li th:if="${session.login.memberId!=selectMsg.sendId}" class="right" style="padding-right: 50%; padding-top: 40px;">
                                <br>
                                <img th:src="${selectMsg.fullFilePath}" alt="#"  style="height:50px; width:50px;">
                                
                                <p th:text="${selectMsg.sendId+' : '+selectMsg.message}" class="text" style="width: 45%;margin-left: 10px;  padding: 10px; background-color: #eee; display: inline;">
                                  
                                </p>
                                <span th:text="${#dates.format(selectMsg.regdate, 'HH:mm')}" class="time" style="color: #926a9d; margin-left: 20px;">9:51 AM</span>
                            </li>
                            
                            <!--로그인된 사람이 보낸 메세지-->
                             <li th:if="${session.login.memberId==selectMsg.sendId}" class="right" style="float:right; padding-left: 50%; padding-top: 40px;">
                                <br>
                                <!--<img th:src="${selectMsg.fullFilePath}"alt="#" style="height:50px; width:50px;">-->
                                <p th:text="${selectMsg.message}" class="text" style="width: 45%;margin-left: 10px;  padding: 10px; background-color: #eee; display: inline;">
                                 
                                </p>
                                <span th:text="${#dates.format(selectMsg.regdate, 'HH:mm')}" class="time" style="color: #926a9d; margin-left: 20px;">9:51 AM</span>
                            </li>
                        </ul>
           </div>
                  <div style=" margin-left:30%; margin-right:25%;">
                 <div id="msgArea" style="float:right; padding-left: 20%; padding-top: 40px;" ></div>
                  </div> 
                <div class="col-6" style="margin-left:auto; margin-right:auto; margin-top:50px;">
                    <div class="input-group mb-3" >
                        <input type="text" id="msg" class="form-control" >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                        </div>
                    </div>
                </div>
 
                       
                                    <!-- End Chat List -->
                                </div>
                            </div>
                        </div>
                        <!-- End Messages Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- End Dashboard Section -->




    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

      <!-- ========================= JS here ========================= -->
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/wow.min.js"></script>
      <script src="/assets/js/tiny-slider.js"></script>
      <script src="/assets/js/glightbox.min.js"></script>
      <script src="/assets/js/main.js"></script>
      <script src="/assets/js/jquery-3.6.0.min.js"></script>
      
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  
     <script th:inline="javascript">
            $(document).ready(function(){
         
            var messageList = [[${selectMessage}]];
            messageList.forEach(function(item){
               console.log(item);
            });
                //var roomTitle = [[${selectChattingDetail?.title}]];
                var roomId = [[${selectChattingDetail?.roomId}]];
                var username = [[${session.login.memberId}]];

              

                var sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function (){
                   console.log("STOMP Connection")

                   //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                   stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
                  
                  console.log("=========================>"+content);
                  
                       var writer = content.sendId;
                       var message = content.message;
                       var fullFilePath =content.fullFilePath;
                   
                       var str = '';

                     
                        
                        
                        if(writer==username){
                     str =  "<ul style=' margin-left:30%; margin-right:25%;'>"
                           str += "<li class='left' style='float:right; padding-top: 40px;'>";
                           str += "<li style='background-color: #eee;  padding: 10px;'>" + message + "</li>";
                           str += "  <span style='color=#926a9d;'>9:51</span>"; 
                           str +="</ul>";   
                           $("#msgArea").append(str);
                         }
                         else{
                     str =  "<ul style=' margin-left:30%; margin-right:25%;'>"
                           str += "<li class='left' style='float:left; padding-top: 40px;'>";
                           str += "<li style='background-color: #eee;  padding: 10px;'>" + message + "</li>";
                           str += "  <span style='color=#926a9d;'>9:51</span>"; 
                           str +="</ul>";   
                           $("#msgArea").append(str);
                         }
                       
   
                    
                   });

                   //3. send(path, header, message)로 메세지를 보낼 수 있음
                   stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, sendId: username}))
                });

                $("#button-send").on("click", function(e){
                    var msg = document.getElementById("msg");

                    console.log(username + ":" + msg.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, sendId: username, fullFilePath: [[${session.login.fullFilePath}]]}));
                    msg.value = '';
                });
            });
        </script>
        <script src="https://kit.fontawesome.com/4a6a853753.js" crossorigin="anonymous"></script>
     
</body>

</html>