<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="footerFragment">
		<!-- Start Footer Area -->
	    <footer class="footer">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-4">
	                        <!-- Single Widget -->
	                        <div class="single-footer mobile-app">
	                            <a><img src="assets/images/footer/footer_nplitlogo.svg" alt="Logo" ;
	                                    style="width:300px; height:300px"></a>
	                        </div>
	                        <!-- End Single Widget -->
	                    </div>
	                    <div class="col-md-4" style="display:inline;">
	                        <div class="single-footer f-contact">
	                            <h3>Contact</h3>
	                            <ul>
	                                <li>서울 강남구 강남대로94길 20, <br> 삼오빌딩(5층 ~ 9층)</li>
	                                <li>문의 : 02-3486-9600 | 팩스 : 02.6007.1298 <br> 사업자등록번호 : 214-85-24928</li>
	                                <li>(주)비트컴퓨터 강남본원 대표이사 : 허원준</li>
	                            </ul>
	                        </div>
	                    </div>
	
	
	
	                    <div class="col-md-4">
	                        <!-- Single Widget -->
	                        <div class="footer-bottom">
	                            <div class="container">
	                                <div class="inner">
	                                    <!-- <div class="row"> -->
	                                    <!-- <div class="col-6"> -->
	                                    <div class="content">
	                                        <div class="content-top">
	                                            <p>통신판매업 신고번호 : 제 서초-00098호 <br> 개인정보보호관리책임자 : 박진형</p>
	                                        </div>
	                                        <p>이용약관 | 개인정보취급방침 | 위치기반서비스 이용약관</p>
	                                        <ul class="footer-social">
	                                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
	                                            </li>
	                                            <li><a href="javascript:void(0)"><i
	                                                        class="lni lni-twitter-original"></i></a>
	                                            </li>
	                                            <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a>
	                                            </li>
	                                            <li><a href="javascript:void(0)"><i
	                                                        class="lni lni-linkedin-original"></i></a>
	                                            </li>
	                                        </ul>
	                                        <!-- <i class="fas fa-link"></i> -->
	
	                                    </div>
	                                    <!-- </div> -->
	                                    <!-- </div> -->
	                                </div>
	                            </div>
	
	                            <!-- End Single Widget -->
	                        </div>
	                    </div>
	                </div>
	            </div>
	    </footer>
	    <!--/ End Footer Area -->
	</th:block>
</html>