/*======================================
    Blog CSS
========================================*/
.latest-news-area {
    .single-news {
        border-radius: 6px;
        overflow: hidden;
        background-color: $white;

        .image {
            overflow: hidden;
            position: relative;
            z-index: 0;
            width: 100%;

            a {
                width: 100%;
            }

            &:before {
                position: absolute;
                content: "";
                left: 50%;
                top: 0%;
                height: 50px;
                width: 2px;
                background: #fff;
                transform: translateX(-50%) translateY(-50%);
                z-index: 2;
                transition: all 0.4s ease;
                opacity: 0;
                visibility: hidden;
            }

            &:after {
                position: absolute;
                content: "";
                left: 0%;
                top: 50%;
                height: 2px;
                width: 50px;
                background: #fff;
                transform: translateX(-50%) translateY(-50%);
                z-index: 2;
                transition: all 0.4s ease;
                opacity: 0;
                visibility: hidden;
            }

            img {
                width: 100%;
                transition: all 0.4s ease;
                position: relative;
            }
        }

        &:hover {
            .image {
                &::before {
                    top: 50%;
                    opacity: 1;
                    visibility: visible;
                }

                &::after {
                    left: 50%;
                    opacity: 1;
                    visibility: visible;
                }

                img {
                    transform: scale(1.1);
                }
            }
        }

        .content-body {
            padding: 40px 30px 30px 30px;
            border-radius: 6px;
            border-radius: 0 0 6px 6px;
            border: 1px solid #ececec;

            .title {
                line-height: 30px;

                a {
                    font-size: 20px;
                    font-weight: 700;
                    color: $black;
                    margin-bottom: 20px;

                    &:hover {
                        color: $theme-color;
                    }
                }

            }

            p {
                font-size: 16px;
            }

            .meta-details {
                padding-top: 15px;
                margin-top: 30px;
                border-top: 1px solid #eee;

                ul {
                    li {
                        display: inline-block;
                        margin-right: 17px;
                        padding-right: 17px;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            right: -4px;
                            top: 9px;
                            height: 6px;
                            width: 6px;
                            border-radius: 50%;
                            background: $theme-color;
                        }

                        &:last-child {
                            margin: 0;
                            padding: 0;

                            &::before {
                                display: none;
                            }
                        }

                        a {
                            font-size: 14px;
                            color: $black;
                            font-weight: 500;

                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blog-list {
    background: $gray;

    .single-news {
        margin: 0;
    }

    .single-news {
        margin-bottom: 40px;
    }
}

/* News Details */
.blog-single {
    background: $gray;
}

.blog-single .post-thumbnils {
    position: relative;
    overflow: hidden;
    border-radius: 6px 6px 0 0;

    img {
        width: 100%;
    }
}

.post-details .detail-inner {
    background-color: $white;
    padding: 40px;
    margin-bottom: 40px;
    border: 1px solid #eee;
    border-radius: 0 0 6px 6px;
    border-top-color: transparent;
}

.post-details .post-thumbnils {
    margin-bottom: 30px;
}

.post-details .post-title {
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 32px;
}

.post-details .post-title a {
    font-size: 25px;
    font-weight: 600;
}

.post-details .post-title a:hover {
    color: $theme-color;
}

ul.custom-flex {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.post-details .post-meta li {
    font-weight: 500;
    font-size: 15px;
    margin-right: 25px;
}

.post-details .post-meta li a i {
    font-weight: 400;
    margin-right: 3px;
}

.post-details .post-meta li a:hover {
    color: $theme-color;
}

.post-details p {
    font-size: 15px;
    margin: 30px 0;
}

.post-details h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 28px;
}

.post-details p:last-child {
    margin-bottom: 0;
}

blockquote {
    position: relative;
    color: $white;
    font-weight: 400;
    clear: both;
    z-index: 1;
    margin: 40px 0;
    text-align: left;
    padding: 40px;
    background-color: $theme-color;
    border-radius: 5px;
    overflow: hidden;

    .icon i {
        font-size: 40px;
        color: $white;
        display: block;
        margin-bottom: 20px;
    }

    h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
    }

    span {
        font-size: 13px;
        display: block;
        margin-top: 20px;
    }

    .shape {
        position: absolute;
        right: -90px;
        top: -91px;
        z-index: -1;
        transform: rotate(45deg);
    }

}

.post-details .list {
    margin: 40px;
}

.post-details .list li {
    color: #888;
    font-weight: 400;
    position: relative;
    padding-left: 40px;
    display: block;
    margin-bottom: 20px;
    position: relative;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

    i {
        display: block;
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 10px;
        color: $white;
        background-color: $theme-color;
        position: absolute;
        left: 0;
        top: -1px;
        text-align: center;
        border-radius: 3px;
    }
}

.post-details .list li:last-child {
    margin: 0;
}

.post-social-media {
    margin-top: 40px;

    .share-title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        display: inline-block;
    }
}


.post-details .post-social-media ul {
    display: inline-block;
    margin-left: 30px;

    li {
        display: inline-block;
        margin-right: 13px;

        a {
            font-size: 15px;
            color: #999;
            position: relative;

            &:hover {
                color: $theme-color;
            }

            span {
                background-color: $theme-color;
                color: $white;
                font-size: 13px;
                font-weight: 500;
                padding: 4px 10px;
                border-radius: 3px;
                position: absolute;
                left: 50%;
                top: -30px;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease;

                &::before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    margin-left: -5px;
                    bottom: -10px;
                    border: 5px solid $theme-color;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    border-left-color: transparent;
                }
            }

            &:hover {
                span {
                    opacity: 1;
                    visibility: visible;
                    top: -35px;
                }
            }

        }
    }
}

.post-details .post-meta li {
    font-weight: 500;
    margin-right: 25px;
}

.post-details .post-meta li a {
    font-size: 13px;
    font-weight: 400;
    font-weight: 500;
    color: $black;
}

.post-details .post-meta li a i {
    font-weight: 400;
    margin-right: 5px;
    color: $theme-color;
}

.post-details p {
    font-size: 16px;
    line-height: 28px;
}

.post-details .post-image {
    margin: 40px 0 20px 0;
    width: 100%;

}

.post-details .post-image img {
    width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.post-details>ul>li {
    font-weight: 500;
}

.detail-post-navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 30px;
    border: 1px solid #eee;
}



/*comments*/
.post-comments {
    background-color: #fff;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.comment-title {
    font-size: 22px !important;
    font-weight: 500 !important;
    margin-bottom: 40px !important;
    position: relative;
    z-index: 1;
    text-transform: capitalize;

    span {
        background-color: white;
        padding-right: 15px;
    }

    &::before {
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 100%;
        background-color: #eee;
        content: '';
        z-index: -1;
    }
}

.comment-reply-title {
    font-size: 22px !important;
    font-weight: 500 !important;
    margin-bottom: 40px !important;
    position: relative;
    z-index: 1;
    text-transform: capitalize;

    span {
        background-color: white;
        padding-right: 15px;
    }

    &::before {
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 100%;
        background-color: #eee;
        content: '';
        z-index: -1;
    }
}

.post-comments .comments-list li {
    padding-left: 130px;
    position: relative;
    font-size: 14px;
}

.post-comments .comments-list li .comment-img {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
}

.post-comments .comments-list li .comment-img img {
    max-width: 100px;
    max-height: 100px;
}

.post-comments .comments-list li .comment-desc .desc-top {
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.post-comments .comments-list li .comment-desc .desc-top h6 {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
}

.post-comments .comments-list li .comment-desc .desc-top h6 .saved {
    color: $theme-color;
    font-size: 14px;
    margin-left: 10px;
}

.post-comments .comments-list li .comment-desc .desc-top span.date {
    font-size: 14px;
    font-weight: 400;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px 22px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
    border-radius: 4px;
    border: 1px solid #eee;
    color: $theme-color;

    &:hover {
        background-color: $theme-color;
        color: $white;
        border-color: transparent;
    }
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link i {
    margin-right: 5px;
}

.post-comments .comments-list li .comment-desc p {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 16px;
}

.post-comments .comments-list li.children {
    margin-left: 130px;
}

.post-comments .comments-list li:not(:first-child) {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #eee;
}

/*Comment form*/
.comment-form {
    background-color: #fff;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.comment-form form .form-box {
    position: relative;
}

.comment-form form .form-box .icon {
    position: absolute;
    top: 17px;
    right: 25px;
    font-size: 16px;
}

.comment-form form .form-box .form-control-custom {
    border: none;
    background: #fff;
    font-size: 14px;
    color: $black;
    padding: 0 25px;
    font-weight: 500;
    height: 55px;
    border: 1px solid #eee;
    margin-bottom: 25px;
    border-radius: 0;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
}

.comment-form form .form-box textarea.form-control-custom {
    height: 200px;
    padding: 25px;
}

.comment-form form .form-box .form-control-custom::placeholder {
    font-size: 15px;
    color: $black;
    font-weight: 400;
}

/* News sidebar */
.sidebar .widget {
    padding: 40px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #eee;

    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar .widget .widget-title {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1;
    position: relative;
    font-weight: 600;
    line-height: 28px;
    z-index: 1;

    span {
        background-color: white;
        padding-right: 18px;
    }
}

.sidebar .widget .widget-title::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    background-color: #eee;
    content: '';
    z-index: -1;
}

.sidebar .widget.search-widget form {
    position: relative;
}

.sidebar .widget.search-widget form input {
    width: 100%;
    background-color: transparent;
    height: 55px;
    border: none;
    padding: 0 80px 0 30px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0;
    border: 1px solid #eee;
    border-radius: 5px;
}

.sidebar .widget.search-widget form input::placeholder {
    color: #333;
}

.sidebar .widget.search-widget form button {
    border: none;
    position: absolute;
    right: 7px;
    top: 6px;
    width: 55px;
    height: 42px;
    z-index: 1;
    color: #fff !important;
    font-size: 13px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: $white;
    border-radius: 0;
    border-radius: 3px;
    padding: 0 !important;
    border: none;
    background: $theme-color;

    &:hover {
        background-color: $black;
        color: $white;
    }
}


.sidebar .widget.popular-feeds .single-popular-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #eee;

    &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-img {
    width: 80px;
    margin-right: 20px;
    border-radius: 50%;
    height: 80px;
    border-radius: 50% !important;
    overflow: hidden;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.5;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a {
    font-size: 16px;
    font-weight: 500;

    &:hover {
        color: $theme-color;
    }
}


.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time {
    font-weight: 400;
    font-size: 14px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time>i {
    margin-right: 4px;
}

.sidebar .widget.categories-widget ul li {
    margin-bottom: 10px;
}

.sidebar .widget.categories-widget ul li:last-child {
    margin-bottom: 0;
}

.sidebar .widget.categories-widget ul li a {
    font-size: 15px;
    height: 35px;
    background-color: transparent;
    display: block;
    position: relative;
    line-height: 35px;
    color: $black;
    transition: all 0.3s ease-out 0s;
    font-weight: 500;
    padding: 0;
    padding-right: 40px !important;
    display: inline-block;
    line-height: 22px;
    width: 100%;
}

.sidebar .widget.categories-widget ul li a span {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: transparent;
    color: #333;
    transition: all 0.3s ease-out 0s;
    border-radius: 50%;
    border: 1px solid #eee;
    font-size: 12px;
}

.sidebar .widget.categories-widget ul li a:hover {
    color: $theme-color;
}

.sidebar .widget.categories-widget ul li a:hover span {
    background: $theme-color;
    color: #fff;
    border-color: transparent;
}

.sidebar .widget.popular-tag-widget {
    padding-bottom: 30px;
}

.popular-tag-widget .tags>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 20px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    background: $theme-color;
    margin-right: 7px;
    margin-bottom: 10px;
    color: #fff;
    background: transparent;
    color: #888;
    border: 1px solid #eee;
    border-radius: 4px;
}

.popular-tag-widget .tags>a:hover {
    background-color: $theme-color;
    color: #fff;
    border-color: transparent;
}

.sidebar-as {
    img {
        width: 100%;
    }
}