<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                        	<a class="navbar-brand" th:href="@{/index}">
                                <img src="/assets/images/logo/header/nplitlogo.svg" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                                <span class="toggler-icon"> </span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed" th:href="@{/index}"
                                            aria-label="Toggle navigation">Home</a>

                                    </li>
                                    <li class="active nav-item">
                                        <a th:href="@{/registerlist}" aria-label="Toggle navigation">카테고리</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <!-- <li class="mega-menu-title">Dashboard</li> -->
                                            <li class="nav-item"><a th:href="@{/registerlist?category=패션/잡화}">패션/잡화</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=가전/디지털}">가전/디지털</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=라이프}">라이프</a>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=배달음식}">배달음식</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=홈쉐어링}">홈쉐어링</a></li></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=식품}">식품</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=구독서비스}">구독서비스</a></li>
                                            <li class="nav-item"><a th:href="@{/registerlist?category=기타}">기타</a></li>
                                        </ul>
                                    </li>
                                    
                                    <!--예진 로그인 안했을 경우 내 근처 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" aria-label="Toggle navigation">내 근처</a>
                                        <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/near_me}" aria-label="Toggle navigation">내 근처</a>
                                    </li>
                                    
                                    <!--예진 로그인 안했을경우 마이페이지 못들어가게-->
			                        <li class="nav-item" th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}"
			                           onclick="alert('로그인이 필요한 서비스 입니다.')">
			                           <a class="dd-menu collapsed" th:href="@{/login}" aria-label="Toggle navigation">마이
			                              페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/login}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/login}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/login}">내가 찜한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/myquestion_list}">1:1 문의 내역</a></li>
			                           </ul>
			                        </li>
			
			                        <li class="nav-item" th:if="${not #strings.isEmpty(session.login)}">
			                           <!--예진 로그인 했을경우-->
			                           <a class="dd-menu collapsed" th:href="@{/profile_show}"
			                              aria-label="Toggle navigation">마이 페이지</a>
			                           <ul class="sub-menu collapse" id="submenu-1-5">
			                              <li class="nav-item"><a th:href="@{/profile_show}">내 프로필 보기</a>
			                              </li>
			                              <li class="nav-item"><a th:href="@{/profile_update}">개인정보 수정</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_registered}">내가 등록한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_participate}">내가 참여중인 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/sharing_like}">내가 찜한 쉐어링</a></li>
			                              <li class="nav-item"><a th:href="@{/selectMyQuestion}">1:1 문의 내역</a></li>
			                           </ul>
			                        </li>
                                    <!--예진 로그인 안했을 경우 내채팅 못들어가게-->
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed"  th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                        <a class="dd-menu collapsed"  th:if="${not #strings.isEmpty(session.login)}"  th:href="@{/selectMyChatting}" aria-label="Toggle navigation">내 채팅</a>
                                    </li>
                                    
                                    <li style="position: relative; top: 2.2rem;">
                           <span class="notranslate">
                              <div id="google_translate_element" style="display:none;"></div>
                              <!-- "새 번역 링크 UI" -->
                             
							<ul class="translation-links" style="list-style:none;">
                                 <li style="float:left; margin-right:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                                 <li style="float:left"><a href="javascript:void(0)" class="english"
                                       data-lang="en">En</a></li>
                                 <li style="float:left">&nbsp &#124; &nbsp</li>
                                 <li style="float:left"><a href="javascript:void(0)" class="korean"
                                       data-lang="ko">Ko</a></li>
                                 <li style="float:left; margin-left:0.5rem;"><i class="fas fa-circle" style="color:#cfb0cf; font-size:0.5rem;"></i></li>
                              </ul>

                              <script
                                 src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                              <script type="text/javascript">
                                 /* 구글 번역 초기화 */
                                 function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'ko', autoDisplay: true}, 'google_translate_element');}
                              </script>
                              <script type="text/javascript">
                                 /* 새 UI 선택 클릭 이벤트가 발생하면
                                    감춤 처리한 구글 번역 콤보리스트에
                                    선택한 언어를 적용해 변경 이벤트를 발생시키는 코드  */
                                 document.querySelector('.translation-links').addEventListener('click', function (event) {
                                    let el = event.target;
                                    if (el != null) {
                                       while (el.nodeName == 'FONT') {el = el.parentElement;}//data-lang 속성이 있는 태그 찾기
                                       const tolang = el.dataset.lang; // 변경할 언어 코드 얻기
                                       const gtcombo = document.querySelector('.goog-te-combo');
                                       if (gtcombo == null) {
                                          alert("Error: Could not find Google translate Combolist.");
                                          return false;
                                       }
                                       gtcombo.value = tolang; // 변경할 언어 적용
                                       gtcombo.dispatchEvent(new Event('change')); // 변경 이벤트 트리거
                                    }
                                    return false;
                                 });
                              </script>
                           </span>
                        </li>
                                    
                                </ul>
                            </div> <!-- navbar collapse -->
                            
                           <div class="login-button">
		                        <ul>
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}">
		                              	<a th:href="@{/profile_show}" class="see-all"><span th:text="${session.login.name}"> </span>님 환영합니다.</a>
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/login}">
		                              	<i class="lni lni-enter"> </i>로그인
		                              </a>
		                           </li>
		
		                           <li>
		                              <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/logout}">
		                              	<i class="lni lni-enter"> </i> 로그아웃 
		                              </a>
		                              <a th:if="${#strings.isEmpty(session.login)}" th:href="@{/join}">
		                              	<i class="lni lni-user"> </i> 가입하기
		                              </a>
		                            </li>
		                        </ul>
		                     </div>

                            <div class="button header-button">
                            <!--로그인 안되어있을경우 쉐어링 등록 불가-->
                                <a   th:if="${#strings.isEmpty(session.login)}" onclick="alert('로그인이 필요한 서비스 입니다.')" th:href="@{/login}" class="btn">쉐어링 등록하기</a>
                                 <a th:if="${not #strings.isEmpty(session.login)}" th:href="@{/register_view}" class="btn">쉐어링 등록하기</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">쉐어링 보기</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a th:href="@{/index}">Home</a></li>
                        <li>쉐어링 보기</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
		                     <div class="carousel-container">
		                        <div class="carousel-slide">
		                           <img th:each="file : ${fileList}" th:src="${file.filename}" alt="#">
		                        </div>
		                        <button type="button" id="prevBtn"><i class="fas fa-chevron-left"></i></button>
		                        <button type="button" id="nextBtn"><i class="fas fa-chevron-right"></i></button>
		                     </div>
		                  </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 subscribe">
                        <div class="product-info">
                     <div>
                        <h3 class="title" th:text="${board.title}"></h3>
                        <div class="top-info">
                           <i class="lni lni-map-marker">
                              <a href="javascript:void(0)"><a class="location"><span class="address"
                                       th:text="${board.address}"> </span> </a></i>
                        </div>
                        <div class="product-title-bottom">
                           <h4 class="price" th:text="${board.price}"></h4>

                           <button th:if="${not #strings.isEmpty(session.login)}" type="button"
                              onclick="changeLike()" id="btnLike" th:value="${likeCheck}"
                              th:attr="class=${likeCheck} == '1' ? 'fas fa-heart' : 'far fa-heart'"></button>
                              
                             <button th:if="${#strings.isEmpty(session.login)}"
                                 onClick="location.href='login';alert('로그인이 필요한 서비스 입니다.')"
                                 id="btnLike" th:attr="class=${likeCheck} == '1' ? 'fas fa-heart' : 'far fa-heart'"></button>

                        </div>
                     </div>
                     <div class="sharing-info row">
                        <div class="col-md-5">
                           <div class="contact-info">
                              <h4 style="font-weight:400;">쉐어링 정보</h4>
                              <span class="contact-hit">조회수&#58;<p th:text="${board.hit}"> </p><span
                                    style="margin-left:0.5rem;">회</span></span>


                             
                              <input type="hidden" name="seq" id="seq" th:value="${board.seq}">

                              <!--예진 좋아요 버튼  -->
                              <!--좋아요 버튼 : 로그인 했을 경우-->


                              <!--예진 참가하기 버튼 새창 띄워 채팅 패이지로 연결  -->
                              <!--참가하기 버튼 : 로그인 했을 경우-->
                              <button th:if="${not #strings.isEmpty(session.login)}"
                                 th:onclick="|window.location.href='@{/roomJoin(roomId=${board.seq})}'|">
                                 <i class="far fa-comments"></i>
                                 <span>참가 하기</span>
                              </button>

                              <!--참가하기 버튼 : 로그인 x-->
                              <button th:if="${#strings.isEmpty(session.login)}"
                                 onClick="location.href='login';alert('로그인이 필요한 서비스 입니다.')">
                                 <i class="far fa-comments"></i>
                                 <span>참가 하기</span>
                              </button>



                           </div>
                           <div class="social-share">
                              <ul>
                                 <li><a href="http://www.facebook.com" class="facebook">
                                       <i class="lni lni-facebook-filled"></i>
                                    </a>
                                 </li>
                                 <li><a href="http://www.twitter.com" class="twitter">
                                       <i class="lni lni-twitter-original"></i>
                                    </a>
                                 </li>
                                 <li><a href="http://www.google.com" class="google">
                                       <i class="lni lni-google"></i>
                                    </a>
                                 </li>
                                 <li><a href="https://www.linkedin.com" class="linkedin">
                                       <i class="lni lni-linkedin-original"></i>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-md-7">

                           <ul class="info-text">
                           <div th:if="${not #strings.isEmpty(session.login)}" >
                              <li th:if="${board.writer==session.login.memberId}" class=" info-text-btn"
                                 style="justify-content: flex-end; ">
                                 <a th:href="@{/myupdate_view(seq=${board.seq})}"><button type="button"
                                       class="sharing-addbtn">수정</button></a>
                                 <a th:href="@{/mydelete(seq=${board.seq})}"><button type="reset"
                                       class="sharing-addbtn">삭제</button></a>
                              </li>
                              <!--<li th:if="${board.writer!=session.login.memberId or ${#strings.isEmpty(session.login)}" class=" info-text-btn"
                                 style="justify-content: flex-end; visibility: hidden; ">
                                 <a th:href="@{/myupdate_view(seq=${board.seq})}"><button type="button"
                                       class="sharing-addbtn">수정</button></a>
                                 <a th:href="@{/mydelete(seq=${board.seq})}"><button type="reset"
                                       class="sharing-addbtn">삭제</button></a>
                              </li>-->
                            
                              <li th:if="${board.writer!=session.login.memberId}" class=" info-text-btn"
                                 style="justify-content: flex-end; visibility: hidden; ">
                                 <a th:href="@{/myupdate_view(seq=${board.seq})}"><button type="button"
                                       class="sharing-addbtn">수정</button></a>
                                 <a th:href="@{/mydelete(seq=${board.seq})}"><button type="reset"
                                       class="sharing-addbtn">삭제</button></a>
                              </li>
                              <li th:if="${board.writer == session.login.memberId}" class=" info-text-btn"
                                 style="justify-content: flex-end; visibility: hidden; ">
                                 <a th:href="@{/myupdate_view(seq=${board.seq})}"><button type="button"
                                       class="sharing-addbtn">수정</button></a>
                                 <a th:href="@{/mydelete(seq=${board.seq})}"><button type="reset"
                                       class="sharing-addbtn">삭제</button></a>
                              </li>
                          	</div>
                              
                              <li><span>등록자 &#58;</span><a>
                                    <p th:text="${board.writer}"> </p>
                                 </a>
                              </li>
                              <li><span>카테고리 &#58;</span>
                                 <p th:text="${board.category}"> </p>
                              </li>
                              <li><span>상품명 &#58;</span>
                                 <p th:text="${board.productname}"> </p>
                              </li>

                              <li><span>좋아요 &#58;</span>
                                 <p th:text="${board.favorite}" id="favoriteText"> </p> <span
                                    style="margin-left:0.3rem;">명</span>
                              </li>
                              <li><span>상품 총가격 &#58;</span>
                                 <p th:text="${board.price}"></p><span style="margin-left:0.3rem;">원</span>
                              </li>
                              <!--<li><span>참여 인원 &#58;</span>
                                           <p th:text="${board.maxNum}"> </p> 명
                                       </li>-->
                              <li>
                                 <a th:href="@{'' + ${board.productlink}|}" class="mail" target='_blank'>
                                   <i class="fas fa-external-link-alt"></i><span>상품 링크 이동</span>
                                 </a>
                              </li>
                           </ul>
                        </div>

                     </div>
                  </div>
                    </div>
                </div>
            </div>
            <div class="item-details-blocks">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-12">
                        <!-- Start Single Block -->
                        <div class="single-block description sticky-box">
	                     <h3>쉐어링 소개</h3>
	                     <pre id="pre-box" style=" font-size: 20px;  font-family: 'GowunDodum-Regular';"><span th:text="${board.contents}" > </span> </pre>
	                  </div>


                    </div>
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="item-details-sidebar">
                            <!-- Start Single Block -->
                            <div class="single-block author">
                                <form>
                                <h3>쉐어링 등록자</h3>
                                <div class="content">
                                    <div>
		                                 <img th:src="${board.fullFilePath}" src="/assets/images/sharing/profil.png" alt="#">
		                            </div>
		                            <div>
		                                 <h4 th:text="${board.writer}"> </h4>
		                                 <span th:text="${board.proMsg}"> </span>
		                                 <a th:href="@{/selectOtherProfile(memberId=${board.writer})}"
		                                    class="see-all"><span>프로필 보기</span></a>
		                            </div>
                                </div>
                            </form>
                                
                            </div>
                            
                            
                            <!-- End Single Block -->
                            <!-- Start Single Block -->

                            <!-- End Single Block -->
                            <!-- Start Single Block -->
                            <div class="single-block ">
                                <h3>쉐어링 장소</h3>
		                        <div class="mapouter">
		                           <div id="map" style="width:100%; height:100%;"></div>
		                           <div class="link">
		                              <a href="javascript:void(0);"
		                                 onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')"
		                                 style="margin-top:0.5rem; padding-left:0;">
		                                 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
		                              </a>
		                           </div>
		                        </div>
                            </div>
                            <!-- End Single Block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

    <!-- Start Footer Area -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Single Widget -->
                    <div class="single-footer mobile-app">
                        <a><img src="/assets/images/footer/footer_nplitlogo.svg" alt="Logo" ;
                                style="width:300px; height:300px"></a>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-md-4" style="display:inline;">
                    <div class="single-footer f-contact">
                        <h3>Contact</h3>
                        <ul>
                            <li>서울 강남구 강남대로94길 20, <br> 삼오빌딩(5층 ~ 9층)</li>
                            <li>문의 : 02-3486-9600 | 팩스 : 02.6007.1298 <br> 사업자등록번호 : 214-85-24928</li>
                            <li>(주)엔플릿 강남본원 대표이사 : 허원준</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Single Widget -->
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="inner">
                                <!-- <div class="row"> -->
                                <!-- <div class="col-6"> -->
                                <div class="content">
                                    <div class="content-top">
                                        <p>통신판매업 신고번호 : 제 서초-00098호 <br> 개인정보보호관리책임자 : 박진형</p>
                                    </div>
                                    <p>이용약관 | 개인정보취급방침 | 위치기반서비스 이용약관</p>
                                    <ul class="footer-social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <i class="fas fa-link"></i> -->
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>
    <script src="/assets/js/glightbox.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/4a6a853753.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class 
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });

    </script>
    
   <!-- 좋아요 기능 -->
    <script>
      function changeLike() {
            let likeFlag = document.getElementById('btnLike').value;
            let url;
            let seq = $("#seq").val();
   
   
            //좋아요를 누른상태
            if (likeFlag === '1') {
               url = '/deleteLike';
               //안누른 상태
            } else {
               url = '/insertLike';
            }
   
            console.log(url);
            
            $.ajax({
               url: url,
               data: {seq: seq},
               type: "post",
               success: function (data) {
                  var jsonData = JSON.parse(data);
                  $("#favoriteText").text(jsonData.count);
   
                  //likeFlag값이 0인 상태라면 callback쪽에선 좋아요 누른것으로 판단하여 꽉찬 하트로 class 변경
                  //현 구조상 좋아요를 눌렀는지 싫어요를 눌렀는지 판단할 값이 모호해서 일단 이렇게 처리.
                  let btnLike = document.getElementById('btnLike');
                  let likeFlag = btnLike.value;
                  //좋아요 누른경우
                  if (Number(likeFlag) == 0) {
                     btnLike.className = 'fas fa-heart';
                     btnLike.value = '1';
                  } else {
                     btnLike.className = 'far fa-heart';
                     btnLike.value = '0';
                  }
   
                  //location.reload();
               },
               error: function (xhr, status, error) {
                  console.log(error);
               }
   
            });
         }
        
   
    </script>
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9ecc8e9f939d797e6e6a52bcafefb3ed&libraries=services"></script>
	
	<!-- *************** 하윤 도로명 주소 마커에 찍기 ************** -->
	
	<!-- https://apis.map.kakao.com/web/sample/addr2coord/ -->
	
	<script>
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	    mapOption = {
	        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
	        level: 3 // 지도의 확대 레벨
	    };
	
	// 지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption); 
	
	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();
	console.log($(".address").text());
	// 주소로 좌표를 검색합니다
	geocoder.addressSearch($(".address").text(), function(result, status) {
	
		 var imageSrc = '/assets/images/logo/nplitmaker.svg', // 마커이미지의 주소입니다    
	                   imageSize = new kakao.maps.Size(50, 50), // 마커이미지의 크기입니다
	                   imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

	    // 정상적으로 검색이 완료됐으면 
	     if (status === kakao.maps.services.Status.OK) {
			console.log(result[0].x);
	        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
	        
	        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
					var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);  
	
	        // 결과값으로 받은 위치를 마커로 표시합니다
	        var marker = new kakao.maps.Marker({
	            map: map,
	            position: coords,
	           	image: markerImage
	        });
	
	        // 인포윈도우로 장소에 대한 설명을 표시합니다
	        var infowindow = new kakao.maps.InfoWindow({
	            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + $(".title").html() + '</div>'
	    
	        });
	    		
				
	        infowindow.open(map, marker);
	
	        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
	        map.setCenter(coords);
	    } 
	});
	   
	   
	   //slide -------------------------------------------------------------------------------------
      
      const carouselSlide = document.querySelector('.carousel-slide');
      console.log(carouselSlide);
      const carouselImages = document.querySelectorAll('.carousel-slide img');
      console.log(carouselImages);
      const prevBtn = document.querySelector('#prevBtn');
      const nextBtn = document.querySelector('#nextBtn');
      console.log(nextBtn);
      let counter = 0;
      const size = carouselImages[0].clientWidth;
      carouselSlide.style.transform = 'translateX(' + (-size * counter) + 'px)';

      // Buttons
      nextBtn.addEventListener('click', () => {
         console.log("click")
         if (counter >= carouselImages.length - 1) return;
         carouselSlide.style.transition = "transform 0.4s ease-in-out";
         counter++;
         carouselSlide.style.transform = 'translateX(' + (-size * counter) + 'px)';
      });

      
		prevBtn.addEventListener('click', () => {
         if (counter <= 0) return;
         carouselSlide.style.transition = "transform 0.4s ease-in-out";
         counter--;
         carouselSlide.style.transform = 'translateX(' + (-size * counter) + 'px)';
      });
	   
	</script>
	<!--<script src="https://kit.fontawesome.com/4a6a853753.js" crossorigin="anonymous"></script>-->
	<script src="https://kit.fontawesome.com/4a6a853753.js" crossorigin="anonymous"></script>
</body>

</html>