/*======================================
    Login CSS
========================================*/
.login {
    background-color: $gray;

    .form-head {
        padding: 50px;
        border: 1px solid #eee;
        border-radius: 6px;
        background-color: $white;

        .title {
            font-size: 30px;
            line-height: 1.42;
            font-weight: 600;
            margin-bottom: 30px;
            text-align: center;
        }

        form {
            .form-group {
                margin-bottom: 25px;

                label {
                    display: block;
                    margin-bottom: .5rem;
                    color: #888;
                    font-size: 15px;
                    font-weight: 400;
                }

                input {
                    width: 100%;
                    min-height: 56px;
                    padding: 3px 20px;
                    color: $black;
                    border: 1px solid #eee;
                    border-radius: 6px;
                    outline: 0;
                    background-color: $white;
                    font-size: 15px;
                }
            }

            .check-and-pass {

                .form-check {
                    float: left;

                    a {
                        color: $theme-color;
                    }

                    .form-check-input:checked {
                        background-color: $theme-color;
                        border-color: $theme-color;
                    }
                }

                .form-check-label {
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .lost-pass {
                    float: right;
                    color: #777;
                    position: relative;
                    top: -2px;

                    &:hover {
                        color: $theme-color;
                        text-decoration: underline;
                    }
                }
            }

            .button {
                margin-top: 25px;

                .btn {
                    width: 100%;
                    box-shadow: none !important;

                    &:hover {
                        box-shadow: none !important;
                    }
                }
            }

            .outer-link {
                display: block;
                font-size: 16px;
                font-weight: 400;
                color: #888;
                margin-top: 30px;
                text-align: center;
                font-family: 'Jost', sans-serif;

                a {
                    color: $theme-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .alt-option {
            margin: 30px 0;
            text-align: center;
            display: inline-block;
            position: relative;
            width: 100%;
            z-index: 1;

            span {

                font-size: 15px;
                background: $white;
                color: #888;
                padding: 5px 15px;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                height: 1px;
                width: 100%;
                background: #eee;
                content: "";
                z-index: -1;
            }
        }

        .socila-login {
            ul {
                li {
                    display: block;
                    margin-bottom: 12px;

                    &:last-child {
                        margin: 0;
                    }

                    a {
                        padding: 15px 20px;
                        text-align: center;
                        border: 1px solid #eee;
                        border-radius: 6px;
                        display: block;
                        color: #888;
                        font-size: 15px;

                        &.facebook {
                            &:hover {
                                color: $white;
                                background: #3b5999;
                                border-color: transparent;

                                i {
                                    color: $white;
                                }
                            }

                            i {
                                color: #3b5999;
                            }
                        }

                        &.google {
                            &:hover {
                                color: $white;
                                background: #dd4b39;
                                border-color: transparent;

                                i {
                                    color: $white;
                                }
                            }

                            i {
                                color: #dd4b39;
                            }
                        }

                        i {
                            display: inline-block;
                            margin-right: 10px;
                            font-size: 15px;
                            transition: all 0.4s ease;
                        }
                    }
                }
            }
        }
    }
}